<h1>Activity 1 - PALMER PENGUIN DATA ANALYTICS PROJECT</h1> 
<hr>
<h3> Data Analyst: Emmanuel M. Aviles</h3>

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

<h2>Converting Dataset(s) into Dataframe</h2>
<h2>Requirements</h2>
<ul>
    <li>Name of the Dataframes</li>
    <li>Filepath</li>
</ul>

In [3]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [4]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h3>Descriptive Analysis</h3>

In [5]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [6]:
penguins.isnull

<bound method DataFrame.isnull of      rowid    species     island  bill_length_mm  bill_depth_mm  \
0        1     Adelie  Torgersen            39.1           18.7
1        2     Adelie  Torgersen            39.5           17.4
2        3     Adelie  Torgersen            40.3           18.0
3        4     Adelie  Torgersen             NaN            NaN
4        5     Adelie  Torgersen            36.7           19.3
..     ...        ...        ...             ...            ...
339    340  Chinstrap      Dream            55.8           19.8
340    341  Chinstrap      Dream            43.5           18.1
341    342  Chinstrap      Dream            49.6           18.2
342    343  Chinstrap      Dream            50.8           19.0
343    344  Chinstrap      Dream            50.2           18.7

     flipper_length_mm  body_mass_g     sex  year
0                181.0       3750.0    male  2007
1                186.0       3800.0  female  2007
2                195.0       3250.0  female  2007
3                  NaN          NaN     NaN  2007
4                193.0       3450.0  female  2007
..                 ...          ...     ...   ...
339              207.0       4000.0    male  2009
340              202.0       3400.0  female  2009
341              193.0       3775.0    male  2009
342              210.0       4100.0    male  2009
343              198.0       3775.0  female  2009

[344 rows x 9 columns]>

In [7]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [8]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [9]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [10]:
penguins['sex'] == 'male'

0       True
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341     True
342     True
343    False
Name: sex, Length: 344, dtype: bool

<h3>Adelie Dataframe</h3>

In [11]:
adelie_df = penguins[penguins['species']== 'Adelie']
adelie_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h3>Gentoo Dataframe</h3>

In [12]:
Gentoo_df = penguins[penguins['species']== 'Gentoo']
Gentoo_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h3>Chinstrap Dataframe</h3>

In [13]:
Chinstrap_df = penguins[penguins['species']== 'Chinstrap'] 
Chinstrap_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [14]:
penguins[(penguins['species']== 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,285,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,296,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,302,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,306,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,308,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,310,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,314,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,316,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,322,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

<h2>FILLING UP NULL VALUES</h2>

In [15]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [16]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [17]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [18]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [19]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [20]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [21]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [22]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [23]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [24]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [25]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [26]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [27]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h2>CHANGING DATA TYPES</h2>

In [28]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009

In [29]:
penguins['species'] = penguins['species'].astype('category')
penguins['year'] = penguins['year'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')
penguins['island'] = penguins['island'].astype('category')

In [30]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
dtypes: category(4), float64(4), int64(1)
memory usage: 15.4 KB

In [31]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000 , 1)

In [32]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

In [33]:
penguins.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year', 'mass_kg'],
      dtype='object')

In [34]:
penguins['mass_kg'].min()

np.float64(2.7)

In [35]:
penguins['mass_kg'].max()

np.float64(6.3)

In [36]:
penguins[penguins['mass_kg'] == 2.7]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
314,315,Chinstrap,Dream,46.9,16.6,192.0,2700.0,female,2008,2.7

In [37]:
penguins[penguins['mass_kg'] == 6.3]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
169,170,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,male,2007,6.3

In [38]:
penguins['mass_kg'].mean()

np.float64(4.2020348837209305)

In [39]:
penguins[penguins['mass_kg'] == 4]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007,4.0
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007,4.0
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007,4.0
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008,4.0
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008,4.0
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008,4.0
79,80,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008,4.0
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008,4.0
125,126,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male,2009,4.0
129,130,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male,2009,4.0
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009,4.0
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0
192,193,Gentoo,Biscoe,42.7,13.7,208.0,3950.0,female,2008,4.0
281,282,Chinstrap,Dream,45.2,17.8,198.0,3950.0,female,2007,4.0
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007,4.0
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007,4.0
316,317,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008,4.0
327,328,Chinstrap,Dream,51.4,19.0,201.0,3950.0,male,2009,4.0
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
336,337,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,4.0
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0

In [40]:
special_island = penguins.groupby(['species', 'island', 'sex']).size()

In [41]:
special_island

species    island     sex
Adelie     Biscoe     female    22
                      male      22
           Dream      female    27
                      male      29
           Torgersen  female    24
                      male      28
Chinstrap  Biscoe     female     0
                      male       0
           Dream      female    34
                      male      34
           Torgersen  female     0
                      male       0
Gentoo     Biscoe     female    58
                      male      66
           Dream      female     0
                      male       0
           Torgersen  female     0
                      male       0
dtype: int64

In [42]:
special_island = penguins.groupby(['species', 'island', 'sex'])['mass_kg'].mean()
special_island

species    island     sex
Adelie     Biscoe     female    3.372727
                      male      4.059091
           Dream      female    3.344444
                      male      4.013793
           Torgersen  female    3.387500
                      male      3.989286
Chinstrap  Biscoe     female         NaN
                      male           NaN
           Dream      female    3.523529
                      male      3.938235
           Torgersen  female         NaN
                      male           NaN
Gentoo     Biscoe     female    4.681034
                      male      5.410606
           Dream      female         NaN
                      male           NaN
           Torgersen  female         NaN
                      male           NaN
Name: mass_kg, dtype: float64

<h1>CORRELATION ANALYSIS</h1>
<hr>
<h3>Testing Correlation using Pearson R</h3>
<hr>
<h4>Pearson R can test correlation between two Variables, given that both Variables are Numerical Data</h4>

In [43]:
flipper_mass = penguins['body_mass_g'].corr(penguins['flipper_length_mm'])
flipper_mass

np.float64(0.8712017673060114)

In [44]:
bill_mass = penguins['body_mass_g'].corr(penguins['bill_length_mm'])
bill_mass

np.float64(0.5951098244376303)

<h1> Numerical to Categorical</h1>

In [45]:
from scipy.stats import f_oneway

ModuleNotFoundError: No module named 'scipy'

In [ ]:
penguins[penguins['sex'] == 'male']['body_mass_g']

In [ ]:
penguins[penguins['sex'] == 'female']['body_mass_g']

In [ ]:
stats, correlation = f_oneway(penguins[penguins['sex'] == 'female']['body_mass_g'],penguins[penguins['sex'] == 'male']['body_mass_g'])
correlation

<h1> 13 Question and Insights </h1>

<h2>1. Which specie have the most penguin count in the data?</h2>

<hr>

In [ ]:
penguins['species'].value_counts()

<h4> Insight: Base on the data Adelie has the most head count among the 3.</h4>

<hr>

<h2> 2. Did the average body mass of penguins changed across the years?</h2>

<hr>

In [ ]:
penguins.groupby('year')['body_mass_g'].mean()


<h4>Insight: There may be slight changes in body mass of the penguins between years (2007â€“2009) maybe its because of food supply that year.</h4>

<hr>

<h2>3. How many penguins of each species live on each island?</h2>

<hr>

In [ ]:
penguin_count = penguins.groupby(['species', 'island']).size()
penguin_count

<h4>Insight: Base on the result Adelie was scattered to different island they are a traveler, Chinstrap only reside on Dream Island and the Gentoo only reside on Biscoe island</h4>

<hr

<h2>4. What is the lightest weight of penguin in this data? </h2>

<hr>

In [ ]:
penguins['mass_kg'].min()

In [ ]:
penguins[penguins['mass_kg'] == 2.7]

<h4>Insight: From the data result it shows that the lightest penguin is a female that weigh 2.7 kg and its other information supports the data.</h4>
<hr>

<h2>5. Which gender has the more number? is it female or male? </h2>

<hr>

In [ ]:
sex = penguins['sex'].value_counts()
sex

<h4>Insight: Base on the result the male has a better number than the female penguins.</h4>

<hr>

<h2>6. What is the average flipper length for each species?
<hr>

In [ ]:
penguins.groupby('species')['flipper_length_mm'].mean()

<h4>Insights: From the result Gentoo had the longest flipper span and the second one is the chinstrap and the one who had the shortest among the 3 was the adelie but base in on other question adelie has the most number means more productive.</h4>

<hr>

<h2>7. What is the heaviest female penguin?</h2>

<hr>

In [ ]:
females = penguins[(penguins['sex'] == 'female') & (penguins['body_mass_g'].notna())]
max_mass = females['body_mass_g'].max()
heaviest = females[females['body_mass_g'] == max_mass]

heaviest

<h4>Insights: In the result it says that there are 2 heaviest female it weigh 5.2kg they are from the same specie but different year but it only means gentoo female are heavier than other female specie.</h4>

<hr>

<h2>8. Is there any connection, if heavier weight to the length of the flippers?</h2>

<hr>

In [ ]:
flipper_mass = penguins['body_mass_g'].corr(penguins['flipper_length_mm'])
flipper_mass

<h4>Insigth: Yes there is, the heavier the penguin the longer the its flippers because its higher then 0.5.</h4>

---

<h2>9. Does weight affects the bill depth?</h2>

In [46]:
bill_depth = penguins['body_mass_g'].corr(penguins['bill_depth_mm'])
bill_depth

np.float64(-0.4719156211860664)

<h4>Insight: No, there is no correlation between the two because it is below 0.5</h4>

<h2>10. How many female penguins have a body mass greater than or equal to 5000g?</h2>

In [47]:
females_kg = penguins[(penguins['sex'] == 'female') & (penguins['mass_kg'] >= 5)]

In [48]:
females_kg.value_counts().sum()
females_kg

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
173,174,Gentoo,Biscoe,45.1,14.5,215.0,5000.0,female,2007,5.0
176,177,Gentoo,Biscoe,42.9,13.1,215.0,5000.0,female,2007,5.0
184,185,Gentoo,Biscoe,45.1,14.5,207.0,5050.0,female,2007,5.0
186,187,Gentoo,Biscoe,49.1,14.8,220.0,5150.0,female,2008,5.2
188,189,Gentoo,Biscoe,42.6,13.7,213.0,4950.0,female,2008,5.0
200,201,Gentoo,Biscoe,44.9,13.3,213.0,5100.0,female,2008,5.1
225,226,Gentoo,Biscoe,46.5,14.8,217.0,5200.0,female,2008,5.2
242,243,Gentoo,Biscoe,47.5,15.0,218.0,4950.0,female,2009,5.0
254,255,Gentoo,Biscoe,47.2,15.5,215.0,4975.0,female,2009,5.0
262,263,Gentoo,Biscoe,50.5,15.2,216.0,5000.0,female,2009,5.0
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009,5.2

<h4> Insight : Base on the result 8 Gentoo female dominated the result of 5kg or above, we can say that female Gentoo specie was the heaviest among the 3.</h4>

<h2>11. How many Chinstrap penguins have a bill length below 50 mm?</h2>

In [49]:
chinstrap_bill = penguins[(penguins['species'] == 'Chinstrap') & (penguins['bill_length_mm'] <= 50)]

In [50]:
chinstrap_bill.value_counts().sum()

np.int64(38)

<h4>Insight: There are 38 Chinstrap penguins with bill lengths shorter than 50 mm. This means their bill length can vary by the specie.</h4>

<h2>12. Which species had the lowest average body mass (kg) in 2007?</h2>

In [51]:
lowest_penguin = penguins[penguins['year'] == 2007]
lowest_penguin['mass_kg'].min()

np.float64(2.9)

In [52]:
mass = penguins[penguins['mass_kg'] == 2.9]
mass

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008,2.9
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008,2.9
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009,2.9
116,117,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009,2.9
298,299,Chinstrap,Dream,43.2,16.6,187.0,2900.0,female,2007,2.9

<h4>Insight: In this result the adelie showed more result than the other specie and the other specie that has the lowest average body was from the chinstrap base on this we can say that adelie are the lightest specie among the 3.</h4>

<h2>13. Does weight affects the bill length?</h2>

In [53]:
bill_length = penguins['body_mass_g'].corr(penguins['bill_length_mm'])
bill_length

np.float64(0.5951098244376303)

<h4>Insight: From the result it shows that, Yes weight affects the bill length of the penguin  </h4>